{% extends '::base.html.twig' %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="dashboard table table-hover">
        <tbody>
        {% for repository in repositories %}
            <tr data-repository="{{ repository.name }}"
                data-pro="{{ repository.isPro() ? 1 : 0 }}"
                data-token="{{ repository.travisToken }}">

                <td>
                    <a href="{{ githubUrl(repository) }}" target="_blank">
                        <i class="fa fa-github fa-border"></i></a>
                    {{ prettyRepositoryName(repository) }}
                </td>

                <td class="author hidden-xs"></td>

                <td class="repository-status text-center">
                    <a href="{{ travisUrl(repository) }}" target="_blank">
                        <i class="fa fa-spinner fa-spin"></i>
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <button id="sync-repositories" type="button" class="btn btn-primary">
            <i class="fa fa-refresh"></i>
            Sync repositories
        </button>
    </p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#sync-repositories').click(function () {
            var btn = $(this);
            btn.button('loading');
            $.post('{{ path('dashboard.sync_repositories') }}', function() {
                btn.button('reset');
                window.location.reload(false);
            });
        });

        $(function () {

            $('[data-repository]').each(function () {
                var repository = $(this).data('repository');
                var isPro = !! $(this).data('pro');
                var token = $(this).data('token');

                var endpoint = isPro ? 'https://api.travis-ci.com' : 'https://api.travis-ci.org';

                $.ajax({
                    url: endpoint + '/repos/' + repository + '/branches/master',
                    headers: {
                        Accept: 'application/vnd.travis-ci.2+json',
                        Authorization: 'token ' + token
                    }
                })
                .done(function(data) {
                    var text, labelClass;
                    switch (data.branch.state) {
                        case 'passed':
                            text = 'Build success';
                            labelClass = 'success';
                            break;
                        case 'failed':
                            text = 'Build failure';
                            labelClass = 'danger';
                            break;
                        case 'errored':
                            text = 'Build error';
                            labelClass = 'danger';
                            break;
                        case 'unknown':
                            default:
                            text = 'Build unknown';
                            labelClass = 'warning';
                            break;
                    }

                    $('[data-repository="' + repository + '"] .repository-status')
                            .addClass(labelClass)
                            .find('a').text(text);

                    var author = data.commit.author_name;

                    $('[data-repository="' + repository + '"] .author')
                            .html('<i class="fa fa-user"></i> ' + author);
                })
                .fail(function () {
                    $('[data-repository="' + repository + '"] .repository-status')
                            .find('a').text('error');
                });
            });

        });
    </script>
{% endblock %}
