{% extends '::base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <p>
        <button id="sync-repositories" type="button" class="btn btn-default btn-sm">
            Sync repositories
        </button>
    </p>

    <ul>
        {% for repository in repositories %}
            <li data-repository="{{ repository.name }}" data-pro="{{ repository.isPro() ? 1 : 0 }}"
                data-token="{{ repository.travisToken }}">

                <a href="{{ githubUrl(repository) }}">{{ repository.name }}</a>:

                <a class="repository-status label label-default" href="{{ travisUrl(repository) }}">
                    <i class="fa fa-spinner fa-spin"></i>
                </a>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#sync-repositories').click(function () {
            var btn = $(this);
            btn.button('loading');
            $.post('{{ path('dashboard.sync_repositories') }}', function() {
                btn.button('reset');
                window.location.reload(false);
            });
        });

        $(function () {

            $('[data-repository]').each(function () {
                var repository = $(this).data('repository');
                var isPro = !! $(this).data('pro');
                var token = $(this).data('token');

                var endpoint = isPro ? 'https://api.travis-ci.com' : 'https://api.travis-ci.org';

                $.ajax({
                    url: endpoint + '/repos/' + repository + '/branches/master',
                    headers: {
                        Accept: 'application/vnd.travis-ci.2+json',
                        Authorization: 'token ' + token
                    }
                })
                .done(function(data) {
                    var text, labelClass;
                    switch (data.branch.state) {
                        case 'passed':
                            text = 'Build success';
                            labelClass = 'success';
                            break;
                        case 'failed':
                            text = 'Build failure';
                            labelClass = 'danger';
                            break;
                        case 'errored':
                            text = 'Build error';
                            labelClass = 'danger';
                            break;
                        case 'unknown':
                            default:
                            text = 'Build unknown';
                            labelClass = 'warning';
                            break;
                    }
                    $('[data-repository="' + repository + '"] .repository-status')
                            .removeClass('label-default')
                            .addClass('label-' + labelClass)
                            .text(text);
                })
                .fail(function () {
                    $('[data-repository="' + repository + '"] .repository-status')
                            .text('error');
                });
            });

        });
    </script>
{% endblock %}
